body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.form-horizontal {
	padding-left: 15px;
}

.btn {
	margin-bottom:15px;
}

#MakeCaptionsFile {
	display:none;
}



#StartCaptions {
	display:none;
}

#NextCaption {
	display:none;
}

#panelCaptions {
	display:none;
}

.navbar {
	background-color:black;
}