body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.form-horizontal {
	padding-left: 15px;
}

.panel-body {
	height:300px;
  overflow-y:scroll;
  width:100%;
}
